@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  height: 100vh;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*:has(> .code-border) {
  @apply my-1 rounded-md overflow-hidden;
}